<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="error.css">
</head>
<body style="
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
">

<div class="error">
    <h3 class="error__header"> error   </h3>
    <p class="error__message">Something wrong in that filed </p>
    <button class="error__button"> Ok</button>
</div>

</body>
</html>